<ion-header>
  <ion-navbar >
    <div class="title">
      {{category.title}}
    </div>
    <div>
      Actions: {{actions.length}}
    </div>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page">
  <ion-card *ngIf="!actions">
    <ion-card-header>
      No Actions Available
    </ion-card-header>
  </ion-card>
  <div *ngIf="actions"> 
    <ion-card *ngIf="actions.length === 0">
      <ion-card-header>
        No Actions Available
      </ion-card-header>
    </ion-card>
    <ion-card (click)="goToActionPage(action, category)">
      <img src="{{action.image}}"/>
      <ion-row no-padding>
        <ion-col>
          <div class="title">
            {{1+actions.indexOf(action)}}. {{action.title}}
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-row class="joystick">
      <ion-col >
        <svg height="75%" width="100%" viewBox="0 0 100 100">
          <path d="M50,14 54,22 46,22Z" fill="rgba(0,0,0,0.8)" />
          <path d="M50,86 54,78 46,78Z" fill="rgba(0,0,0,0.8)" />
          <path d="M14,50 22,54 22,46Z" fill="rgba(0,0,0,0.8)" />
          <path d="M86,50 78,54 78,46Z" fill="rgba(0,0,0,0.8)" />
          <polygon points='5,5 50,50 95,5'     fill-opacity="0.0" (click)="goPrevious(action)" />
          <polygon points='5,5 50,50 5,95'     fill-opacity="0.0" (click)="goBack()"/>
          <polygon points='5,95 50,50 95,95'   fill-opacity="0.0" (click)="goNext(action)"/>
          <polygon points='95,5 50,50 95,95'   fill-opacity="0.0" (click)="goToActionPage(action)" />
        </svg>
      </ion-col>
    </ion-row>
  </div>
    
</ion-content>
